<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Digi - Therapist</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% comment %} <link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript> {% endcomment %}

		{% load static %}
		{% comment %} <script src=”{% static 'static/js/main.js' %}”></script> {% endcomment %}
		<link rel=”stylesheet” href=”{% static 'static/css/main.css' %}”>
		<noscript><link rel="stylesheet" href=”{% static 'static/css/noscript.css' %}” /></noscript> 

	<body class="is-preload">

		<!-- Header -->
			<section id="header">


				<div class="inner">
					<span class="icon solid major fa-child"></span>
					<h3 style="font-size: 55px; margin: 15px"><strong>BB4K</strong>.</h3>
					<p  style="font-size: 35px" ><b>Bounce Back 4 Kids</b></p>
					<ul class="actions special">
						<li><a href="#" class="button scrolly">Explore</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2 style="font-size: 55px">Our Vision</h2>
							</header>
							<p style="font-size: 22px">To help break the cycle of domestic abuse
To raise children’s self-esteem and to give them an opportunity to explore and express their feelings through fun, child-focussed activities, in a safe therapeutic way
To improve children’s school attendance and learning and development</p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="static/images/image1.jfif" alt="" /></span>
						</div>
					</div>
				</div>
			</section>


		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li>
								<a href="#" style="display: block;text-decoration: none; border: none">
									<span class="icon solid style1 major fa-dice-six"></span>
                                 </a>
								</li>
							
								<li>
								<a href="#" style="display: block;text-decoration: none; border: none">
									<span class="icon solid style2 major fa-puzzle-piece"></span>
								</a>
							   </li>
								
								<li>
								<a href="#" style="display: block;text-decoration: none; border: none">
									<span class="icon solid style3 major fa-camera-retro"></span>
								</a>
							   </li>

								<li>
									<a href="#" style="display: block;text-decoration: none; border: none">
										<span class="icon solid style4 major fa-gamepad"></span>
									</a>
								</li>
								<li>
									<a href="#" style="display: block;text-decoration: none; border: none">
										<span class="icon solid style5 major fa-desktop"></span>
									</a>
								</li>
								<li><a href="#" style="display: block;text-decoration: none; border: none">
									<span class="icon solid style6 major fa-chess-queen"></span>
									
										
									</a></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2><b>GAMING ARENA</b></h2>
							</header>
							<p style="font-size: 25px">A fun and interactive way for children to familiarize themselves with healthy family environment and habits.</p>
							<p style="font-size: 25px">An easily accessible resource to inculcate and build self confidence and self-esteem.</p>
							<p style="font-size: 25px">Create experience as in-person session and making them feel connected with others.</p>
							<p>
<div class="card">
  <div class="card-header">
    Reminder
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p style="font-size: 28px"> “We all can dance when we find music we love.” .</p>
      <footer class="blockquote-footer" style="font-size: 22px">– Giles Andreae <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>
<button type="button" class="btn btn-primary btn-lg" style="width: 300px">Lets PLAY!</button>

</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Group Activities</h2>
					</header>
					<p>Group activities can help a parent and a kid bond together in a better way.</p>
					<div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="static/images/onetoone.jfif" alt="" /></span>
							<h3>One to One Sessions</h3>
							<p>We will be providing One-to-One sessions to kids so as to get them to express their feelings and interact with therapists to discuss the hardships faced.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="static/images/onetomany.jfif" alt="" /></span>
							<h3>Many to One Sessions</h3>
							<p>We will be providing One-to-Many sessions among same age-group kids to build their confidence & self-esteem while maintaining Anonimity.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img style="height: 229.75px" src="static/images/seminar.jfif" alt="" /></span>
							<h3>Workshops/Seminars</h3>
							<p>We will be organising workshops to bring parents and kids on a common platform and educate them further via different activities.</p>
							<ul class="actions special">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major ">
						
						<ul class="icons bot-icon">
							<li><h2 style="font-size: 36px"><b>Talk To BETTY!
							</b>
							<span ><img src="static/images/chatbot.png" style="height: 65px; width: 65px;"></span>
							</li>
							
						</ul>
                        
						</h2>
					</header>
					<p style="font-size: 30px">Express how you feel.</p>
					<ul class="actions special">
						<li><a href="#" class="button wide primary">Begin</a></li>
						</ul>
				</div>
			</section>

		

		<!-- Footer -->
			<section id="footer">
				<h2>Connect With Us</h2>
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-chrome"><span class="label">Website</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; PACT</li><li>Design: Team - 4</li>
				</ul>
			</section>

		{% comment %} <!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script> {% endcomment %}

			{% load static %}
			<script src=”{% static 'static/assets/js/jquery.min.js' %}”></script>
			<script src=”{% static 'static/assets/js/jquery.scrolly.min.js' %}”></script>
			<script src=”{% static 'static/assets/js/breakpoints.min.js' %}”></script>
			<script src=”{% static 'static/assets/js/util.js' %}”></script>
			<script src=”{% static 'static/assets/js/main.js' %}”></script>


	</body>
</html>